/*
  Simple Grid
  Learn More - http://dallasbass.com/simple-grid-a-lightweight-responsive-css-grid/
  Project Page - http://thisisdallas.github.com/Simple-Grid/
  Author - Dallas Bass
  Site - dallasbass.com
*/

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0px;
}

[class*='col-'] {
	float: left;
	padding-right: 20px;
}

[class*='col-']:last-of-type {
	padding-right: 0px;
}

.grid {
	width: 100%;
	max-width: 1140px;
	min-width: 755px;
	margin: 0 auto;
	overflow: hidden;
}

.grid:after {
	content: "";
	display: table;
	clear: both;
}

.grid-pad {
	padding: 20px 0 0px 20px;
}

.grid-pad > [class*='col-']:last-of-type {
	padding-right: 20px;
}

	/* Content Columns */
	
	.col-1-12 {
		width: 8.333333333333332%;
	}
	
	.col-1-11 {
		width: 9.090909090909092%;
	}
	
	.col-1-10 {
		width: 10.0%;
	}
	
	.col-1-9 {
		width: 11.11111111111111%;
	}
	
	.col-1-8 {
		width: 12.5%;
	}
	
	.col-1-7 {
		width: 14.285714285714285%;
	}
	
	.col-1-6, .col-2-12 {
		width: 16.666666666666664%;
	}
	
	.col-2-11 {
		width: 18.181818181818183%;
	}
	
	.col-1-5, .col-2-10 {
		width: 20.0%;
	}
	
	.col-2-9 {
		width: 22.22222222222222%;
	}
	
	.col-1-4, .col-2-8, .col-3-12 {
		width: 25.0%;
	}
	
	.col-3-11 {
		width: 27.27272727272727%;
	}
	
	.col-2-7 {
		width: 28.57142857142857%;
	}
	
	.col-3-10 {
		width: 30.0%;
	}
	
	.col-1-3, .col-2-6, .col-3-9, .col-4-12 {
		width: 33.33333333333333%;
	}
	
	.col-4-11 {
		width: 36.36363636363637%;
	}
	
	.col-3-8 {
		width: 37.5%;
	}
	
	.col-2-5, .col-4-10 {
		width: 40.0%;
	}
	
	.col-5-12 {
		width: 41.66666666666667%;
	}
	
	.col-3-7 {
		width: 42.857142857142854%;
	}
	
	.col-4-9 {
		width: 44.44444444444444%;
	}
	
	.col-5-11 {
		width: 45.45454545454545%;
	}
	
	.col-1-2, .col-2-4, .col-3-6, .col-4-8, .col-5-10, .col-6-12 {
		width: 50.0%;
	}
	
	/* Layout Columns */

	.col-6-11 {
		width: 54.54545454545454%;
	}
	
	.col-5-9 {
		width: 55.55555555555556%;
	}
	
	.col-4-7 {
		width: 57.14285714285714%;
	}
	
	.col-7-12 {
		width: 58.333333333333336%;
	}
	
	.col-3-5, .col-6-10 {
		width: 60.0%;
	}
	
	.col-5-8 {
		width: 62.5%;
	}
	
	.col-7-11 {
		width: 63.63636363636363%;
	}
	
	.col-2-3, .col-4-6, .col-6-9, .col-8-12 {
		width: 66.66666666666666%;
	}
	
	.col-7-10 {
		width: 70.0%;
	}
	
	.col-5-7 {
		width: 71.42857142857143%;
	}
	
	.col-8-11 {
		width: 72.72727272727273%;
	}
	
	.col-3-4, .col-6-8, .col-9-12 {
		width: 75.0%;
	}
	
	.col-7-9 {
		width: 77.77777777777779%;
	}
	
	.col-4-5, .col-8-10 {
		width: 80.0%;
	}
	
	.col-9-11 {
		width: 81.81818181818183%;
	}
	
	.col-5-6, .col-10-12 {
		width: 83.33333333333334%;
	}
	
	.col-6-7 {
		width: 85.71428571428571%;
	}
	
	.col-7-8 {
		width: 87.5%;
	}
	
	.col-8-9 {
		width: 88.88888888888889%;
	}
	
	.col-9-10 {
		width: 90.0%;
	}
	
	.col-10-11 {
		width: 90.9090909090909%;
	}
	
	.col-11-12 {
		width: 91.66666666666666%;
	}

@media handheld, only screen and (max-width: 767px) {

	
	.grid {
		width: 100%;
		min-width: 0;
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 0px;
		padding-right: 0px;
	}
	
	[class*='col-'] {
		width: auto;
		float: none;
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 10px;
		margin-bottom: 10px;
		padding-left: 20px;
		padding-right: 20px;
	}
}
