/*
  Simple Grid
  Project Page - http://thisisdallas.github.com/Simple-Grid/
  Author - Dallas Bass
  Site - http://dallasbass.com
*/


[class*='grid'],
[class*='c-'],
[class*='m-'],
.grid:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

[class*='c-'] {
	float: left;
  	min-height: 1px;
	padding-right: 20px; /* column-space */
}

[class*='c-'] [class*='c-']:last-child {
	padding-right: 0;
}

.grid {
	width: 100%;
	max-width: 1140px;
	min-width: 748px; /* when using padded grid on ipad in portrait mode, width should be viewport-width - padding = (768 - 20) = 748. actually, it should be even smaller to allow for padding of grid containing element */
	margin: 0 auto;
	overflow: hidden;
}

.grid:after {
	content: "";
	display: table;
	clear: both;
}

.grid-pad {
	padding-top: 20px;
	padding-left: 20px; /* grid-space to left */
	padding-right: 0; /* grid-space to right: (grid-space-left - column-space) e.g. 20px-20px=0 */
}

.push-right {
	float: right;
}

/* Content Columns */

.c-1o1 {
	width: 100%;
}
.c-2o3, .c-8o12 {
	width: 66.66%;
}

.c-1o2, .c-6o12 {
	width: 50%;
}

.c-1o3, .c-4o12 {
	width: 33.33%;
}

.c-1o4, .c-3o12 {
	width: 25%;
}

.c-1o5 {
	width: 20%;
}

.c-1o6, .c-2o12 {
	width: 16.667%;
}

.c-1o7 {
	width: 14.28%;
}

.c-1o8 {
	width: 12.5%;
}

.c-1o9 {
	width: 11.1%;
}

.c-1o10 {
	width: 10%;
}

.c-1o11 {
	width: 9.09%;
}

.c-1o12 {
	width: 8.33%
}

/* Layout Columns */

.c-11o12 {
	width: 91.66%
}

.c-10o12 {
	width: 83.333%;
}

.c-9o12 {
	width: 75%;
}

.c-5o12 {
	width: 41.66%;
}

.c-7o12 {
	width: 58.33%
}

/* Pushing blocks */

.push-2o3, .push-8o12 {
	margin-left: 66.66%;
}

.push-1o2, .push-6o12 {
	margin-left: 50%;
}

.push-1o3, .push-4o12 {
	margin-left: 33.33%;
}

.push-1o4, .push-3o12 {
	margin-left: 25%;
}

.push-1o5 {
	margin-left: 20%;
}

.push-1o6, .push-2o12 {
	margin-left: 16.667%;
}

.push-1o7 {
	margin-left: 14.28%;
}

.push-1o8 {
	margin-left: 12.5%;
}

.push-1o9 {
	margin-left: 11.1%;
}

.push-1o10 {
	margin-left: 10%;
}

.push-1o11 {
	margin-left: 9.09%;
}

.push-1o12 {
	margin-left: 8.33%
}

@media handheld, only screen and (max-width: 767px) {
	.grid {
		width: 100%;
		min-width: 0;
		margin-left: 0;
		margin-right: 0;
		padding-left: 20px; /* grid-space to left */
		padding-right: 10px; /* grid-space to right: (grid-space-left - column-space) e.g. 20px-10px=10px */
	}

	[class*='c-'] {
		width: auto;
		float: none;
		margin: 10px 0;
		padding-left: 0;
		padding-right: 10px; /* column-space */
	}

	[class*='c-'] [class*='c-'] {
		padding-right: 0;
	}

	/* Mobile Layout */

	[class*='m-'] {
		float: left;
		margin: 0 0 10px;
		padding-left: 0;
		padding-right: 10px; /* column-space */
		padding-bottom: 0;
	}

	.m-1o1 {
		width: 100%;
	}
	.m-2o3, .m-8o12 {
		width: 66.66%;
	}

	.m-1o2, .m-6o12 {
		width: 50%;
	}

	.m-1o3, .m-4o12 {
		width: 33.33%;
	}

	.m-1o4, .m-3o12 {
		width: 25%;
	}

	.m-1o5 {
		width: 20%;
	}

	.m-1o6, .m-2o12 {
		width: 16.667%;
	}

	.m-1o7 {
		width: 14.28%;
	}

	.m-1o8 {
		width: 12.5%;
	}

	.m-1o9 {
		width: 11.1%;
	}

	.m-1o10 {
		width: 10%;
	}

	.m-1o11 {
		width: 9.09%;
	}

	.m-1o12 {
		width: 8.33%
	}

	/* Layout Columns */

	.m-11o12 {
		width: 91.66%
	}

	.m-10o12 {
		width: 83.333%;
	}

	.m-9o12 {
		width: 75%;
	}

	.m-5o12 {
		width: 41.66%;
	}

	.m-7o12 {
		width: 58.33%
	}

	.hide-mob {
		display: none !important;
		visibility: hidden;
		width: 0;
		height: 0;
	}
}
