/*
	Simple Grid
	Learn More - http://dallasbass.com/simple-grid-a-lightweight-responsive-css-grid/
	Project Page - http://thisisdallas.github.com/Simple-Grid/
	Author - Dallas Bass
	Site - dallasbass.com
*/

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0px;
}

[class*='col-'] {
	float: left;
	padding-right: 20px;
	min-height: 1px;
}

[class*='col-']:last-of-type {
	padding-right: 0px;
}

.grid {
	width: 100%;
	max-width: 1140px;
	min-width: 755px;
	margin: 0 auto;
	overflow: hidden;
}

.grid:after {
	content: "";
	display: table;
	clear: both;
}

.grid-pad {
	padding: 20px 0 0px 20px;
}

.grid-pad > [class*='col-']:last-of-type {
	padding-right: 20px;
}

.push-right {
	float: right;
}

/* Content Columns */

.col-1-10 {
	width: 10%;
}
.col-1-5, .col-2-10 {
	width: 20%;
}
.col-1-4, .col-2-8, .col-3-12 {
	width: 25%;
}
.col-3-10 {
	width: 30%;
}
.col-2-5, .col-4-10 {
	width: 40%;
}
.col-1-2, .col-2-4, .col-3-6, .col-4-8, .col-5-10, .col-6-12 {
	width: 50%;
}
.col-3-5, .col-6-10 {
	width: 60%;
}
.col-7-10 {
	width: 70%;
}
.col-3-4, .col-6-8, .col-9-12 {
	width: 75%;
}
.col-4-5, .col-8-10 {
	width: 80%;
}
.col-9-10 {
	width: 90%;
}
.col-1-1, .col-2-2, .col-3-3, .col-4-4, .col-5-5, .col-6-6, .col-7-7, .col-8-8, .col-9-9, .col-10-10, .col-11-11, .col-12-12 {
	width: 100%;
}
.col-1-3, .col-2-6, .col-3-9, .col-4-12 {
	width: 33.33%;
}
.col-2-3, .col-4-6, .col-6-9, .col-8-12 {
	width: 66.66%;
}
.col-1-6, .col-2-12 {
	width: 16.66%;
}
.col-5-6, .col-10-12 {
	width: 83.33%;
}
.col-1-7 {
	width: 14.28%;
}
.col-2-7 {
	width: 28.57%;
}
.col-3-7 {
	width: 42.85%;
}
.col-4-7 {
	width: 57.14%;
}
.col-5-7 {
	width: 71.42%;
}
.col-6-7 {
	width: 85.71%;
}
.col-1-8 {
	width: 12.5%;
}
.col-3-8 {
	width: 37.5%;
}
.col-5-8 {
	width: 62.5%;
}
.col-7-8 {
	width: 87.5%;
}
.col-1-9 {
	width: 11.11%;
}
.col-2-9 {
	width: 22.22%;
}
.col-4-9 {
	width: 44.44%;
}
.col-5-9 {
	width: 55.55%;
}
.col-7-9 {
	width: 77.77%;
}
.col-8-9 {
	width: 88.88%;
}
.col-1-11 {
	width: 9.090%;
}
.col-2-11 {
	width: 18.18%;
}
.col-3-11 {
	width: 27.27%;
}
.col-4-11 {
	width: 36.36%;
}
.col-5-11 {
	width: 45.45%;
}
.col-6-11 {
	width: 54.54%;
}
.col-7-11 {
	width: 63.63%;
}
.col-8-11 {
	width: 72.72%;
}
.col-9-11 {
	width: 81.81%;
}
.col-10-11 {
	width: 90.90%;
}
.col-1-12 {
	width: 8.333%;
}
.col-5-12 {
	width: 41.66%;
}
.col-7-12 {
	width: 58.33%;
}
.col-11-12 {
	width: 91.66%;
}

@media handheld, only screen and (max-width: 767px) {
	.grid {
		width: 100%;
		min-width: 0;
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 0px;
		padding-right: 0px;
	}

	[class*='col-'] {
		width: auto;
		float: none;
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 10px;
		margin-bottom: 10px;
		padding-left: 20px;
		padding-right: 20px;
	}
}
